<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Todo</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

</head>

<body ng-controller="TarefaController">
    <header>
        <div class="jumbotron">
            <div class="container">
                <h1 class="text-center">Tarefas</h1>
                <form ng-submit="adicionarTarefa()">
                    <input type="text" ng-model="tarefa.titulo" class="form-control add-tarefa" placeholder="Adicionar nova tarefa..." ng-minlength="5" required>
                </form>
            </div>
        </div>
    </header>

    <section id="content" class="container">
        <div class="row">
            <div ng-show="tarefas.length == 0">
                <h3 class="text-center">Não há tarefas cadastradas...</h3>
            </div>
        </div>
        <div class="row">
            <div id="tarefas.pendentes" class="col-md-6">
                <table class="table table-striped" ng-show="tarefas.length > 0">
                    <thead>
                        <tr>
                            <th class="col-md-10">Tarefas pendentes</th>
                            <th class="col-md-1">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </th>
                            <th class="col-md-1">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tarefa in tarefas| filter: {completa:'false'}">
                            <td>{{tarefa.titulo}}</td>

                            <td>
                                <input type="checkbox" ng-checked="{{tarefa.completa}} " ng-model="tarefa.completa " ng-change="completarTarefa(tarefa) ">
                            </td>
                            <td>
                                <button type="button " class="btn btn-danger btn-xs " ng-click="removerTarefa(tarefa) "><span class="glyphicon glyphicon-remove " aria-hidden="true "></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>

            <div id="tarefas.concluidas " class="col-md-6 ">
            <table class="table table-striped " ng-show="tarefas.length> 0">
                            <thead>
                                <tr>
                                    <th class="col-md-10">Tarefas concluídas</th>
                                    <th class="col-md-1">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </th>
                                    <th class="col-md-1">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tarefa in tarefas| filter: {completa:'true'}">
                                <td><s>{{tarefa.titulo}}</s></td>

                                <td>
                                    <input type="checkbox" ng-checked="{{tarefa.completa}}" ng-model="tarefa.completa" ng-change="completarTarefa(tarefa)">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="removerTarefa(tarefa)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>

        </div>
    </section>
   
    <script src="app/angular.min.js"></script>
    <script src="app/firebase.js"></script>
    <script src="app/angularfire.min.js"></script>
    <script src="app/app.js"></script>

</body>

</html>
